:root {
    --bs-primary: #EE3738;
    --bs-secondary: #FBDBC4;
    --bs-text-dark: #4E2600;
    --bs-gutter-x: 0;
}

#logo-rp img {
    width: 85px;
}


body {
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
    text-align: center;
}

#header-index {
    background-image: url("img/header-index.png");
}

#header-coaching {
    background-image: url("img/coaching-index.png");
}

#header-programas {
    background-image: url("img/programas-index.png");
}

#header-bio {
    background-image: url("img/bio-index.png");
}

#header-testimonios {
    background-image: url("img/coaching-index.png");
}

.link-active {
    color: var(--bs-primary);
}

footer {
    color: var(--bs-secondary);
}

footer span {
    font-size: 0.8rem;
}

footer a:hover{
    color: var(--bs-primary);
} 

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--bs-primary);
}

button a:hover {
    color:inherit
}

button {
    background-color: transparent;
    border-radius: 30px;
    border: solid 1.5px;
    padding: 0.3rem 1.2rem 0.3rem 1.2rem;
}

.button-primary {
    color: var(--bs-text-dark);
}

.button-primary:hover {
    background-color: var(--bs-text-dark);
    color: var(--bs-secondary);
}

.button-secondary{
    color:var(--bs-secondary);
}

.button-secondary:hover {
    background-color:var(--bs-secondary);
    color: var(--bs-text-dark);
}

h3, #programs-page h4, #testimonios-page span, #coaching-page h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#programs-page h4 {
    margin-top: -0.7rem;
}


#nav-mobile {
    display: none;
}

.btn-secondary {
    border-radius: 3px;
 background-color: var(--bs-text-dark);
 border: none;
}

.btn-secondary:hover, .btn-secondary:focus {
    background-color: var(--bs-primary);
}

nav a {
    color: var(--bs-text-dark);
}

.dropdown-menu {
    border: none;
}
.dropdown-item {
    font-size: 0.9rem;
    color: var(--bs-text-dark);
}
.dropdown-item:hover {
    background-color:var(--bs-secondary);
}

nav a:hover {
    color:var(--bs-primary)
}

p {
    font-size: 0.9rem;
}

section, #contacto {
    min-height: 100vh;
    margin: auto;
    padding: 5rem 15%;
}

#contacto h3 {
    font-family: Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
}


.intro {
    margin: auto;
    width: 70%;
    padding-top: 3rem;
}

.title {
    color: var(--bs-text-dark);
    font-family: Georgia;
    font-size: 3rem;
    line-height: 3.2rem;
    padding: 1.2rem 0 4rem 0;
}

.title-page {
    color: var(--bs-text-dark);
    font-family: Georgia;
    font-size: 2rem;
    line-height: 2.2rem;
    padding: 1.2rem 0 4rem 0;
}

.subtitle {
    color: var(--bs-primary);
    font-family: Helvetica;
    letter-spacing: 0.2rem;
}

.title-section {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.8rem;
    padding-bottom: 3rem;
    line-height: 2.8rem;
}

.fixed-image-right {
    position: absolute;
    top:80%;
    right: 0;
}

.fixed-image-left {
    position: absolute;
    left: 0;
}

.text-reel {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: var(--bs-primary);
}

#sesiones-de-coaching, #testimonios, #contacto, #coaching-page, #bio-page {
    background-color: var(--bs-secondary);
    color: var(--bs-text-dark);
}

#programas, #instagram, #programs-page, #testimonios-page, #gracias-mensaje {
    background-color:var(--bs-text-dark);
    color: var(--bs-secondary);
}

#sesiones-de-coaching ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.1rem;
    line-height: 2.6rem;
    text-align: right;
}

#testimonios p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
}

.carousel-control-next, .carousel-control-prev {
    width: auto;
}

.carousel-item {
    height: 100vh;
}

#programas p {
    padding-bottom: 1.8rem;
}

#contacto div {
    max-width: 500px;
}

.perfil-ro {
    width: 300px;
    height: 300px;
    padding: 0;
}

.window {
    height: 200px;
    background-image: url("img/window.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: var(--bs-secondary);
}

#footer-firma ul {
    text-align: right;
}

#contacto input, #contacto textarea {
    background-color: #fff;
    border: none;
    color: var(--bs-text-dark);
    padding: 0.5rem;
    border-radius: 4px;
    margin: -0.1rem;
}

#footer-firma {
    background-color: var(--bs-text-dark);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* SLIDER TESTIMONIOS */

.slideshow-container {
    position: relative;
  }

  .mySlides {
    display: none;
    padding: 5rem;
    text-align: center;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 1rem;
    color: var(--bs-text-dark);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    color: var(--bs-primary);
  }
  
  .dot-container {
    text-align: center;
    padding: 1.2rem;
  }
  
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: var(--bs-text-dark);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .active, .dot:hover {
    background-color: var(--bs-primary);
  }






@media (max-width: 576px) {
    #nav-mobile {
        display: flex;
    }
    #nav-desktop {
        display: none;
    }
    .title {
        font-size: 2.5rem;
        line-height: 2.6rem;
        padding-bottom: 2rem;
    }
    .title-section {
        font-size: 2rem;
        line-height: 2.1rem;
        padding-bottom: 1rem;
    }
    .title-page {
        font-size: 1.6rem;
        line-height: 2rem;
        padding-bottom: 1rem;
    }
    .intro {
        padding-top: 2rem;
    }
    #sesiones-de-coaching ul {
        margin-top: 2rem;
        font-size: 2rem;
        text-align: left;
        line-height: 2.5rem;
    }
    #programas p {
        padding-bottom: 1rem;
    }
    .fixed-image-right {
        display: none;
    }
    #contacto input, #contacto textarea {
        font-size: 0.8rem;
    }
    #testimonios {
        margin: 0;
        padding: 2rem;
        font-size: 0.9rem;
    }
    .mySlides {
        padding: 3rem;
    }
}